# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:password@host:port/database?schema=public"

# intra credentials
INTRA_CLIENT_ID=
INTRA_APP_SECRET=
INTRA_CALLBACK_URL=

# mail credentials
EMAIL=
PASSWORD= 

# jwt config
JWT_SECRET=
JWT_SECRET_MAIL=
JWT_ISSUER=
# frontend origin
FRONTEND_ORIGIN=

# host
HOST=
VERIFICATION_PATH="/auth/verify?token="
REJECTION_PATH="/auth/reject?token="

SIGN_IN_URL=
