# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:pass@host:port/db?schema=public"

# intra credentials
INTRA_CLIENT_ID=""
INTRA_APP_SECRET=""

# mail credentials
EMAIL= ""
PASSWORD= ""

# jwt config
JWT_SECRET="THIS SHOULD BE A COMPLICATED STRING"
JWT_SECRET_MAIL="THIS ALSO SHOULD BE A RANDOM/COMPLEX STRING,,"
JWT_ISSUER="spinshot"
# frontend origin
FRONTEND_ORIGIN="https://google.com"

SIGN_IN_URL="https://signin.intra.42.fr" #todo: change this to signin url


# GCS credentials
#GCS stands for Google Cloud Storage

GCS_BUCKET_NAME=""
GCS_PROJECT_ID=""
GCS_KEYFILE_PATH=""
