@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@100;400;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #260323;
  --background-start-rgb: #260323;
  --background-end-rgb: #260323;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #260323;
    --background-start-rgb: #260323;
    --background-end-rgb: #260323;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #260323;
}
/* 
.pincode-input-container {

} */

/* @media screen and (max-width: 540px) {
  .pincode-input-container{

  }  
} */

.twemoji {
  height: 50px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #FEECFC;
  -webkit-box-shadow: 0;
  transition: background-color 5000s ease-in-out 0s;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #FEECFC00;
  border-radius: 10px;
  margin: 5px;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: #260323;
  border-radius: 10px
}

.chatProfileRight {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row-reverse;
    margin-bottom: 5px;
  }
  .chatProfileLeft {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
  }
  .chatProfileSpan {
    background-color: rgb(213, 213, 182);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }

  canvas {
    border-radius: 30px;
  }
